
@{
    ViewBag.Title = "NovaPagina";
}

<h2>NovaPagina</h2>
<h2>Nome: @ViewBag.nome </h2>
<h2>Telefone: @ViewBag.telefone </h2>
<h2>Email: @ViewBag.email </h2>
<h2>Nome mãe: @ViewBag.NomeMae </h2> 

