################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/APIEntity/APIEntity.Web/obj/Debug/APIEntity.Web.csproj.CopyComplete
/APIEntity/APIEntity.Web/obj/Debug/APIEntity.Web.csproj.FileListAbsolute.txt
/APIEntity/APIEntity.Web/obj/Debug/APIEntity.Web.pdb
/APIEntity/APIEntity.Web/obj/Debug/APIEntity.Web.dll
/APIEntity/APIEntity.Web/bin/roslyn
/APIEntity/APIEntity.Web/bin
/APIEntity/.vs/APIEntity
/.vs
/APIEntity/APIEntity.Infrastructure/obj/Debug
