################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/APIEntity/APIEntity.Web/bin/roslyn
